[2015-03-07 21:00] coballast opened #1 "THREE.Math shadows global Math object"
Currently, THREE.Math is mapped into a local var Math object. This means expressions like Math.PI cause reference errors in a final build of THREE.js in areas where code uses the THREE.Math module.

How do you guys think this problem should be solved?

[2015-03-07 21:03] coballast opened #2 "Need way to Mr. Doobify output code."
Currently, the transformed source code does not conform to Mr. Doob's Code Style&trade;

I have been looking for a quick and easy solution to this problem, but haven't found one. Any suggestions?

[2015-03-07 21:13] coballast opened #3 "Various edge cases for THREE library variable detection."
Currently, the code for identifying THREE.js variables only identifies them when they are member expressions. For example, it will pickup Texture in this:
[code]

But it won't pick up REVISION in this:
[code]

There are also places where properties of THREE are referenced through a variable, which is set to a THREE object based on some piece of code. One example is in MaterialLoader, where this ha

[2015-03-07 21:14] coballast opened #4 "Duplicate comments in source code"
Right now, line comments are duplicated on more than one line in output code. I suspect that this may be a bug with either escodegen or esprima.

[2015-03-07 21:15] coballast commented on #4
Also, block comments are ignored and are not copied to output. Might be related.

[2015-03-07 21:49] kumavis commented on #3
We'll need to hone our target here -- we want a `THREE` property access on the left hand side of an assignment statement.

[2015-03-08 01:06] coballast commented on #3
Do you mean change the src/ directory to accommodate the way the software finds THREE properties now? Or do you mean change the conversion utility to handle all possible cases?

I think the former would be far easier and faster, although it would be a bit of a manual process.

[2015-03-08 01:11] coballast commented on #3
In the scenario where material is being assigned to THREE[json.type] the problem is far more complicated, because in principle the value of json.type could be anything in the three library. Without more information about what can be loaded in json.type, we can't narrow possible dependencies down for MaterialLoader. That is really outside the domain of static analysis. We would need more informatio

[2015-03-10 02:32] coballast commented on #2
Using esformatter. Looks like it has the flexibility required.

[2015-03-10 19:23] kumavis commented on #1
Ah thats an interesting edge case. some ideas:

* in this case, rewrite the variable name to `ThreeMath`:
[code]
* change the src to `THREE.Math` to inherit from `Math`:
[code]

In general I would avoid modifying the source for this conversion project, so the first suggestion is preferred.

[2015-03-10 19:56] kumavis commented on #4
Here are github issues searches for 'comment':
[esprima](https://github.com/jquery/esprima/search?q=comment&state=open&type=Issues&utf8=%E2%9C%93)
[escodegen](https://github.com/estools/escodegen/search?q=comment&state=open&type=Issues&utf8=%E2%9C%93)

Looks like there are some standing problems here.

I couldn't reproduce it here -- should have just tried the actual conversion utility.
http://req

[2015-03-10 19:59] kumavis commented on #2
mrdoob's brain in json format. brilliant! https://github.com/coballast/threejs-browserify-conversion-utility/blob/master/mdcs.json

[2015-03-10 20:07] kumavis commented on #3
so, from my understanding, we still need `Three.thing = thing` in order to produce a three.js build that works exactly the same (thats our goal right? we should be explicit what are goals/restrictions/requirements are, maybe in the README). That also means we don't need to worry about the `var material = new THREE[ json.type ];` case.

I look at this three.js restructuring project as a multiple ph

[2015-03-10 20:27] kumavis commented on #2
Is there a general code style detector that works with esformatter? that would be cool.

[2015-03-10 22:33] coballast commented on #1
The first option shouldn't be too difficult to implement, so that's what I think I'll do.

[2015-03-10 22:56] coballast commented on #3
That's the idea, yes.

The utility performs the processing in several passes.

In the first pass, it goes through files and looks for statements that assign a property of THREE to some value. In otherwords, it looks for "library object declarations", like THREE.Matrix3 = whatever.
It turns these statements into local variables, so it would be changed to var Matrix3 = whatever. It then makes a reco

[2015-03-10 23:01] coballast commented on #3
A quick hack that would fix the problem is to simply include every possible external dependency in files like that. Browserify might optimize that stuff away in the final build, and it could be eliminated by hand by a human if/when this makes it into the repo.

[2015-03-11 02:26] coballast commented on #1
Did as you suggested. Examples now fail for completely different reasons. Hooray!

[2015-03-11 02:26] #1 closed

[2015-03-11 03:07] coballast opened #5 "Build will not load Three.js from prelude.js"
When running the examples, I get the following error:
Uncaught Error: Cannot find module '../Three'

The error is printed from browserify's prelude.js. The problem occurs in any module that attempts to require Three.js, such as Object3d. The relative path is correct.

[2015-03-11 03:16] coballast commented on #5
I suspect this might have to do with the fact that we have circular requires between Three.js and any subsidiary objects that need to require constants in Three.js. Circular requires work fine inside a node.js environment as long as you plan ahead, but browserify might be another story.

An option would be to have the utility move everything that was originally defined in the top level THREE into

[2015-03-12 17:53] kumavis commented on #5
Thats a good hypothesis-- I would suggest more investigation before seeking a solution tho.
Hmmm... I'll dig for a moment as a morning warmup. Would love to be helping more with this but buried in another project for awhile...

[2015-03-12 17:57] kumavis commented on #3
Ah, thanks that is a tricky problem.

Is this common? if its only in a couple files, maybe we can just provide a list of all modules to include `materials/*.js`.

[2015-03-12 18:12] kumavis commented on #4
Here is an example of the comment weirdness from the top of the `Three.js` file

ours:
[code]

original:
[code]

[2015-03-12 18:18] kumavis commented on #5
Can you list your browserify version and how you're running/opening the demos.

[2015-03-12 18:30] kumavis commented on #5
I'm working off of `three.js#master`
When I convert + build three.js then run the `software_geometry_earth` demo I get:
`Uncaught TypeError: Object prototype may only be an Object or null: undefined`
which comes from
[code]
where `Camera.prototype` is undefined because
[code]

[2015-03-12 18:38] kumavis opened #6 "Massive build size"
Not sure what all the bloat is, but damn.
[code]

[2015-03-12 18:39] kumavis commented on #6
5x inflation

[2015-03-12 18:46] coballast commented on #6
That's embedded source mapping to help me debug stuff. I'll remove it when everything is working.

[2015-03-12 18:47] kumavis commented on #6
Ah yes! gotcha

[2015-03-12 18:47] #6 closed

[2015-03-12 18:55] kumavis commented on #5
I think you're on to something with the circular deps. And I agree with your suggested solution.

[2015-03-12 18:57] coballast commented on #5
I'll make a branch and try it there.

[2015-03-12 19:32] kumavis commented on #5
I poked a round for a bit -- awesome to see it happen! we're shifting and transforming years and years worth of human minds ticking away on this project. Behold the magic of Robotic Syntax Surgery!

[2015-03-13 18:37] kumavis commented on #4
Got it working in requirebin http://requirebin.com/?gist=23ab7458059f459eb956

I'll come up with a more minimal example and report the bug.

[2015-03-13 18:48] kumavis commented on #4
woah the comment positioning is really weird...

This sets the comment as a trailing comment for the `1+2` expression, AND a leading comment to the WHOLE if-statement.
[code]
Here i added content to the if statement's consequent. This sets the comment as a trailing comment for the `1+2` expression, AND a leading comment to the TEST of the if-statement. Weird!
[code]

[2015-03-13 19:10] coballast commented on #4
You are awesome. Thank you so much!

[2015-03-13 19:13] coballast commented on #3
I can detect the files that this happens in pretty easily. I can generate a  list, and my intuition says that it will be a really short list.

[2015-03-13 19:33] kumavis commented on #4
So comments seem to be a really tricky item even on the parsing side. No one can agree on how its supposed to work and there are endless edgecases. Its just algorithmically complicated. Here's an issue I filed for the duplicated comments on the parsing side. Not even sure if its a bug or feature. https://github.com/jquery/esprima/issues/1117

They're discussing a means for external comment process

[2015-03-13 19:48] kumavis commented on #4
seems `espree` is subject to the same bug. `acorn` however seems to work great! It requires a little extra setup.
[code]

[2015-03-13 20:16] coballast commented on #4
If it's good enough for browserify, it's good enough for me. Want to make a fork and try it out?

[2015-03-13 20:41] #4 closed

[2015-03-13 21:30] kumavis commented on #2
I wonder if we can find a way to reuse untouched code verbatim, and then only generate code where we made changes...

[2015-03-13 21:32] kumavis commented on #2
In truth we don't want an AST -- we dont want it to be `abstract` -- but a concrete syntax tree or something.

[2015-03-13 21:39] coballast commented on #2
It is a huge pain. That's why I have been putting off working on the mdcs.json file. I also don't really like reading and writing each file three or however many times in row to generate the source. This thing may only be used a few times to move things over and then become useless, but when I have to test multiple times to verify results it really slows things down.

[2015-03-13 21:40] coballast commented on #2
The ideal solution would be to somehow supplement the existing ast with formatting information while still conforming to the Mozilla Parser API.

[2015-03-13 22:01] kumavis commented on #2
maybe if we keep track of all 'dirty' nodes, and when generating code for the tree, check if the node is dirty and if so generate code for them, splicing them into the original code using the 'range' property the parsers provide. maybe!

[2015-03-13 22:02] kumavis commented on #2
anyways id worry about formatting last, and focus on functional builds first

[2015-03-14 00:26] coballast commented on #5
I have a branch up that moves global THREE objects to seperate modules. After manually modifying the resulting src I got a build that doesn't get the original circular dependency errors.

[2015-03-14 00:28] coballast commented on #5
However, I was running the webgl_camera demo and I got the exact same error you did. I think this is a separate/different problem.

[2015-03-14 00:33] coballast commented on #5
I will make a seperate issue for that guy.

[2015-03-14 00:34] #5 closed

[2015-03-14 00:38] coballast opened #9 "Undefined prototypes for various THREE objects."
Some objects get exported as plain old objects in the final three.js build. This results in undefined prototype problems when inheritance is involved See issue #5 .

[2015-03-14 00:47] coballast commented on #5
Unfortunately, I don't think this is going to be a completely automatic process. We may have to modify the output source code in order to get things to work a little bit (because writing code to do that would be harder). Personally I'm very satisfied with the way things are going so far. Most of the work has been effectively automated away.

[2015-03-14 02:06] coballast commented on #3
I was right. Here are the files:

loaders/Loader.js
Reason:
Indexes THREE on blending mode and other things

loaders/MaterialLoader.js
Reason:
Indexes THREE on material type as mentioned above.

Probably similar things happen in the other files. I'm too lazy to read through them:
loaders/ObjectLoader.js
renderers/WebGLRenderer.js

[2015-03-14 04:14] kumavis commented on #3
The `Loaders` make sense, whatever WebGLRenderer is doing should likely be inverted (that code should be put into the respective classes instead of the renderer), but thats out of scope for this transform.

[2015-03-14 12:39] coballast commented on #3
I think we can at least remedy the loaders. Maybe do as you suggested, and have another pass that takes a structure that defines files and "supplemental" dependencies that can't be found in the code...

[2015-03-14 12:43] coballast commented on #3
I am not sure how to transform the loading code though. The only way I know of to make it instantiate a class dynamically based on a variable without indexing some parent object like window or THREE is to use eval. Ughhh...

[2015-03-14 14:01] coballast opened #10 "Fails to build on latest dev branch of THREE.js"
Right now, running a browserify build off of the latest dev branch crashes. It works fine with r70 master.

At first I thought I made a change that broke something. If I checkout dev, do

[code]
I get

[code]

But if I checkout r70, everything works fine.

[2015-03-14 14:51] coballast commented on #9
I set some breakpoints inside Camera.js. It looks like the code in it never even runs. require() doesn't touch it. Weird.

[2015-03-14 15:14] coballast commented on #10
This might either be a bug with the utility, or a bug in the dev branch of threejs, or a bug in browserify. I am inclined to think threejs is the problem here.

[2015-03-14 16:14] coballast commented on #9
In the root Three.js file, everything from ThreeGlobals gets loaded fine. The error with OrthographicCamera comes when <b>Camera gets loaded into Three.js but before OrthographicCamera loads Camera</b>. Very strange. Browserify seems to be setting up the correct dependency graph after poking through the bundle, so this is going to keep me occupied for a while.

[2015-03-14 16:15] coballast commented on #9
Note, I am working with r70 rather than dev due to #10

[2015-03-14 18:06] coballast commented on #9
I believe I have found the problem. There is another circular dependency between Object3D and it's various subclasses.

[2015-03-14 18:06] coballast commented on #9
I'm going to generate a visual graph depicting dependency relationships. I'm afraid this problem may be more widespread than I thought.

[2015-03-14 18:18] kumavis commented on #5
@coballast manual changes are ok for now, maybe we need to start recording the additional steps in the readme.

[2015-03-14 18:23] kumavis commented on #3
Maybe we need `Three.js` to be just `module.exports = {}` and then we have a different entrypoint `index.js` that requires THREE and loads all the classes onto it. That way we can get a reference to `Three.js` thats not circular... maybe?

[2015-03-14 18:26] kumavis commented on #9
@coballast I tried to generate one and the circ deps prevented it from working... tried hacking the lib to make it work anyways but failed. Was using https://github.com/conradz/browserify-graph

[2015-03-14 18:30] kumavis commented on #10
I got this error when using [browserify-graph](https://github.com/conradz/browserify-graph ) on our converted three.js (master). My guess is more circular dep problems. If circular deps work in node but not in browserify, maybe browserify needs a patch?

[2015-03-14 18:35] kumavis commented on #10
You can try increasing the number of files that can be opened, but I feel like thats not the real problem since its stuck on the root package.json.....

[2015-03-14 18:37] kumavis commented on #10
Here is a circular deps issue on browserify https://github.com/substack/node-browserify/issues/1068
No insight on resolution -- I think browserify is a bit of a black box for a lot of people

[2015-03-14 19:04] kumavis commented on #10
[Here I played with circular deps](https://github.com/kumavis/browserify-circle)... take a look at `late/` and how that resolves some problems...

maybe all exports can be functions and then when we define them on THREE we call the functions... too weird? Do we end up with classes that don't `instanceof` correctly? (We shouldnt be using `instanceof` any ways, but thats a different issue.)

[2015-03-14 19:15] kumavis commented on #10
More on circular deps -- I added a new pattern `early/` that [works pretty well](https://github.com/kumavis/browserify-circle/blob/master/early/a.js). The point is to get your reference into `module.exports` before calling require on anything else. For Classes, this will be easy b/c of function hoisting.

[2015-03-14 19:44] kumavis commented on #9
posted some research on circ deps in the other issue https://github.com/coballast/threejs-browserify-conversion-utility/issues/10#issuecomment-80681888

[2015-03-14 19:48] kumavis commented on #10
I'm getting:
[code]

on `three.js#master` now

[2015-03-14 19:59] kumavis commented on #10
weird -- using a gulputil logger displays a different path that its erroring on:
[code]

notice the `/src/package.json'` not going to find a package.json there! no idea how those paths are being confused or why the errors don't match.

[code]

[2015-03-14 20:09] kumavis opened #12 "THREE is undefined."
`Three.js` adds properties to THREE, but does not define it. It is currently being defined in `ThreeGlobals.js`

[2015-03-14 20:18] kumavis commented on #9
holy crap everything is so circular X_X
especially the math

Vector3 uses Matrix4 which uses Vector3

[2015-03-14 21:14] kumavis commented on #10
idk what all that noise is in the last comment, but its got to be another manifestation of the circular dep error.

[2015-03-14 21:16] kumavis commented on #9
Here's another:
`Box3 > BufferGeometry > Geometry > Sphere > Box3`

[2015-03-14 21:22] kumavis commented on #9
the `Box3 > BufferGeometry` dep is stupid, its another case where things should be inverted. Instead of type checking Geometry types in Box3, and deciding what to do there, it should ask for `geometry.getVertices()` and Buffer geometry can implement this using its position array.
Bad practices all over the place.

[2015-03-14 21:29] kumavis commented on #9
There's something discouraging about 135 open PRs

[2015-03-14 22:02] kumavis commented on #9
plan B make a new three.js from scratch

[2015-03-14 22:04] kumavis commented on #9
[code]

[2015-03-15 01:46] coballast commented on #9
Circular dependencies are symptomatic of poor software design anyway. If we somehow get this into a state where everything works, I'm not optimistic that it will be accepted into the main repo.

[2015-03-15 01:48] coballast commented on #9
If we just make a separate fork that we work on on our own, we are free to fix these and all sorts of other problems. The general feeling I get is that many developers have the same issues with the "official" codebase that we do. I'm confident there would be widespread support for such a fork.

[2015-03-15 01:48] coballast commented on #9
Also, I hate mdcs. I tolerate it, but I would love an excuse to ditch it.

[2015-03-15 02:02] coballast commented on #12
Ah yes. Currently I just manually move it over to Three.js (and remove the browserify support check)

[2015-03-15 02:18] coballast commented on #9
I think I'm going to go through the effort to get a pictorial graph up. People need to know about this horror.

[2015-03-15 03:38] coballast commented on #9
It would also allow us to integrate glslify and other stack.gl components to simplify things even more. Quite frankly, we need a do-over from a small group of people away from the main source. When everyone has a working example that demonstrates that this is clearly the best way to go, everyone will follow swiftly. It should be super obvious that this is the best route, but for some reason it isn

[2015-03-15 05:04] kumavis commented on #9
If you can produce a graph, I'd say go for it. I think that's some info that should be spread.
And I agree with your sentiments. I don't know about creating and maintaining a fork though. Sounds like it would be better to start a new lib by forking the scene-based api here https://github.com/mikolalysenko/gl-plot3d.

[2015-03-15 05:07] kumavis commented on #9
If we do intend to abandon this conversion project, we should do a writeup of our findings. Your graph would be excellent there.

[2015-03-16 18:34] coballast commented on #9
I have an interactive graph up <a target="_blank" href="http://jsbin.com/medezu/2/edit?html,js,output">here</a>.

I couldn't figure out how to generate a planar graph, so if you want a clearer picture you'll have to drag everything out yourself.

[2015-03-16 19:03] coballast commented on #9
I created an issue: mrdoob/three.js#6241

[2015-03-18 20:00] kumavis commented on #9
I think we can deal with the circular deps if we do the following:

1. change how we're exporting/requiring things.
[code]
not
[code]
2. remove all cases where Class definitions immediately instantiate other Classes (e.g. making scratch `Vector3`s for math). e.g.:
[code]

[2015-03-18 23:58] coballast commented on #9
@kumavis The first two changes are trivial modifications to the utility that I handle. The third one I have no clue about.

[2015-03-19 03:16] kumavis commented on #9
Awesome! The third one should just be done via PRs against `upstream/dev`

[2015-03-28 20:08] coballast commented on #9
Question: when having the exports prepended at the top of the file before requires, would I need to have the util set the variables to empty dummy objects of some kind?

In your example above, you are declaring Vector3 as a normal function which I think allows function hoisting to work, but the way I currently have it set up, Vector3 is a local variable assigned to a function object. I may have to

[2015-03-28 20:33] coballast commented on #10
The problem is definitely with browserify or the three.js source code and not with gulp. If I call browserify manually like this:
[code]

I get the exact same error.

[2015-03-29 17:25] kumavis commented on #10
@coballast  can you generate a dep graph or do you get the same problem?

[2015-03-29 17:44] kumavis commented on #9
I don't anticipate that to work. Lets look at the cycle `Vector3 -> Matrix4 -> Vector3`. It will start defining `Vector3`, and as soon as it hits the `require('./matrix4.js')` it will go over and start defining `Matrix4`. When it hits `require('./vector3.js')` in `Matrix4` it will immediately return the value of `Vector3`'s `module.exports` as it was at the point that it started defining `Matrix4`

[2015-03-29 17:49] kumavis commented on #9
playing with another style -- i prefer the hoisting style above tho
[code]

[2015-03-29 20:10] coballast commented on #9
Function hoisting it is then.

[2015-03-29 20:12] coballast commented on #10
@kumavis I don't believe there is anything wrong in principle with any of the utility code that generates the browserify three source, or the dependency graphs. Those seem to work fine, no problem. The issue only comes when browserify actually runs.

[2015-04-04 19:45] coballast commented on #9
@kumavis I am working on function hoisting right now. It should be done very quickly.

You might also like to know that Matrix4 lazy-loads scratch vars. It's in upstream/dev. See mrdoob/three.js#6333

[2015-04-04 20:34] coballast commented on #9
@kumavis Finished. There is a new problem in that local variables that aren't functions are assigned to exports before they are declared. I'll fix that asap.

[2015-04-05 03:14] kumavis commented on #9
Awesome, reviewed the PR -- managing whitespace is a pain, eh? Can't wait until we evolve to compose ASTs directly instead of writing code

[2015-04-06 22:25] coballast commented on #10
@kumavis I have a branch up with the browserified version of the Three.js source:
https://github.com/coballast/three.js/tree/browserify
I've made some manual corrections to fix problems. I intend to keep it continuously updated with changes from dev using the utility.

The problem is still present there unfortunately, which leads me to think that the trouble is with the source somehow. It is now t

[2015-04-07 01:13] kumavis opened #15 "ThreeGlobals leads to noisy imports"
I'm sure we can come up with something a little cleaner.
Note: most are not even being used.

taken from [pointcloud](https://github.com/coballast/three.js/blob/browserify/src/objects/PointCloud.js):
[code]

[2015-04-07 01:42] coballast commented on #15
For sure. It is on my todo list.

[2015-04-07 03:51] kumavis commented on #15
@coballast awesome! we're making great progress. we should maintain the todo list publically via gh-issues so others can jump in and get a feel for where we're at

[2015-04-07 14:20] JosephClay commented on #15
:+1: a todo list would be very helpful for potential contributors.

[2015-04-07 21:12] coballast commented on #9
I feel like this issue has been effectively addressed by our cyclic dependency work on three.js. Therefore, I am closing it. We can simply reopen it if future builds demonstrate this behavior.

[2015-04-07 21:12] #9 closed

[2015-04-07 21:16] coballast commented on #3
I think this has been effectively fixed for the same reasons as #9

[2015-04-07 21:16] #3 closed

[2015-04-07 21:24] coballast opened #16 "Support for default exports"
For modules that only export one thing, we want default exports and requires. See @kumavis's comments in #9

I actually had this working at an earlier point in time in the source tree. I removed it because I felt like it vastly complicated the software, and would make diagnosing issues more difficult. Re-adding it should be a trivial exercise. See 22e2cbabfcc61b1f434f03a6834022155d21cd03

Many thi

[2015-04-08 02:22] kumavis commented on #15
One way to do that is to have a meta issue where we track todos/questions and break off them into coherent issues

[2015-04-08 11:23] coballast opened #17 "Meta-Issue: Todo List"
Correct Noisy Imports #15
Re-add Default Imports/Exports #16
Fix gulp build system #10
Finish output code formatting #9

[2015-04-08 11:29] coballast opened #18 "Declare local variables after exports."
Since function hoisting has been added, code like this has been generated:

[code]

Easy enough to manually correct, since I think it only happens in a few places, but it would be nice if it figured this out automagically.

[2015-04-08 21:23] kumavis commented on #17
@coballast can you add me as a collaborator? cheers

[2015-04-08 21:24] kumavis commented on #17
[Replacing instanceof usage](https://github.com/mrdoob/three.js/issues/6362) would not be a requirement but goes hand-in-hand with opening three.js up to modularity.

[2015-04-08 23:43] coballast commented on #17
@kumavis have fun

[2015-04-09 07:43] kumavis commented on #16
Example:

[code]
not
[code]

[2015-04-09 07:44] kumavis commented on #16
This change needs to happen on the import AND export side

[2015-04-09 07:45] kumavis commented on #18
Should only hoist functions, not vars

[2015-04-09 07:47] kumavis commented on #17
So some of the necessary changes we make will happen automatically via this utility, and some will need to be fixed in upstream first.

[2015-04-09 14:35] coballast commented on #17
I will handle default imports/exports, since I had it mostly working anyway.

[2015-04-09 14:36] coballast commented on #18
Am confused. Code example?

[2015-04-09 14:42] coballast commented on #18
Read it wrong, nevermind.

[2015-04-10 07:30] HMUDesign commented on #15
One way to handle this would be to move the globals to the actual module where they are used. Also, is using numbers really that much faster than strings? Or are these values part of webgl and need to be maintained as-is? The use of strings would obviate the need for globals at all, and a simple string:number map would put the number is place when it is pushed to webgl.

[2015-04-10 07:34] HMUDesign commented on #18
Of the files where I encountered this problem (I was only building a very simple scene), some of them were constructors defined using ```var Foo = function() {};``` rather than ```function Foo() {}```. Those could be switched over to the function method. For ones where it must be an object (perhaps in others), why not export on the same line as the definition? ```var Foo = module.exports.Foo = {};

[2015-04-10 07:37] HMUDesign commented on #16
For modules which export more than one thing, they should be split into more modules. There are some exceptions, such as util type libraries. I would recommend some sort of standard, such as every module exports a single default constructor, except files named *Util.js, which export an object containing the utility functions.

The last exception being the Three.js file used for producing the distr

[2015-04-10 07:42] HMUDesign opened #19 "Reuse of temporary instances"
This issue is related to circular dependencies and it appears many times. It seems to be an optimization to prevent creating a new Vector3 (or other core class) each time the function is called. If there is indeed a significant performance hit that cannot be fixed by optimizing Vector3, then perhaps add a function to Vector3 to return an unused vector3 which is released later?

[code]

[2015-04-10 07:50] HMUDesign opened #20 "File Organization"
While this is definitely something to be tackled after the current set builds properly, I wanted to bring it up now. While the current file structure works, parts of it are rather odd or even awkward. The major groupings (cameras, materials, geometries, etc) seem to have it well, though I would make some changes, as seen below.

My primary confusions came with core and extras. core/Geometry.js sho

[2015-04-10 08:03] HMUDesign opened #21 "JSPM Usage"
JSPM is a library for using modular javascript in the browser live (it can also produce builds, combining only the files which are declare dependencies). It uses the SystemJS Module Loading, which supports, among others, the ES6 module format and the CommonJS format (which is what browserify uses).

Besides the awesome benefit of being able to create a custom bundle of threejs using only the parts

[2015-04-10 08:04] HMUDesign commented on #21
Also, the doubling up of constructor names (new Scene.Scene) will be fixed with issue #16.

[2015-04-10 15:49] coballast commented on #15
I don't believe the numbers are the same as gl values. I seem to recall that there are internal mappings from THREE constants to WebGL constants within WebGLRenderer.

I don't think numbers are fast enough to justify the cost in readability and maintainability.

[2015-04-10 15:53] coballast commented on #15
@HMUDesign I really like your idea, because it would also be simpler to implement in the utility, just literally substituting ast nodes.

[2015-04-10 15:59] coballast commented on #19
@HMUDesign Please keep in mind that the code on the browserify repo is not the latest dev branch. One thing I changed is that it instantiates those instances lazily, in mrdoob/three.js#6333.

[2015-04-10 16:11] coballast commented on #16
I agree that exporting only one thing is the ideal case. I am very pro Unix Philosophy (which THREE.js does not reflect). However, my main objective is to get a functional build working while changing the layout/structure as little as physically possible. The intention is (hopefully) to get it merged back with the mainline. After that's done, we can attack these structure issues separately.

Alter

[2015-04-12 19:21] kumavis commented on #18
@HMUDesign theres some subtle ordering requirements to get exports to work correctly during cyclic deps. [see here](https://github.com/coballast/threejs-browserify-conversion-utility/issues/9#issuecomment-87449916)

[2015-04-12 19:26] kumavis commented on #15
I think the original goal was readable code ( not performance ). But when contorted to this browserify approach, readability is dramatically decreased. This one needs a rethink.

[2015-04-12 19:27] kumavis commented on #19
closing this for now, reopen if you think this is not solved.

[2015-04-12 19:27] #19 closed

[2015-04-12 19:28] kumavis commented on #20
This might be a good target for a PR against upstream.

[2015-04-12 22:43] coballast commented on #15
@kumavis That readability is the primary goal is correct. The idea is to use string literals everywhere instead of numerical constants. So for example, ```THREE.CullFaceNone``` would become ```'CullFaceNone'```.

We would substitute those everywhere in place in the code, eliminating the need to import THREE constants altogether. To keep up appearences to client software, we would do ```THREE.CullF

[2015-04-12 22:45] coballast commented on #15
A performance regression is certainly possible with a change like this. I will implement both solutions and compare them.

[2015-04-12 23:35] kumavis commented on #15
:+1:

[2015-04-12 23:48] kumavis opened #22 "StructuredJS"
The source for our conversion utility does get a little hairy at times, especially around ast node selectors
Here's some resources to make this less painful:

### Structured.js

https://github.com/Khan/structuredjs
I was playing around and re wrote some of the stuff here, but lost focus before i finished. its a bit of a mess and perhaps not that useful.
https://github.com/kumavis/ast-render/blob/m

[2015-04-13 00:05] coballast commented on #22
Esquery looks amazing. Also, @lmcd's 6to5 utility makes use of a library called recast:

https://github.com/benjamn/recast

It is compatible with the Mozilla parser api. Here is the cool part though (from README):

The magic of Recast is that it reprints only those parts of the syntax tree that you modify. In other words, the following identity is guaranteed:
[code]
Whenever Recast cannot reprint

[2015-04-13 00:53] coballast opened #23 "Moving to recast/esquery"
In an effort to tame the codebase, which has become somewhat unwieldy in places, I propose changing our parser to recast (https://github.com/benjamn/recast). It is Mozilla Parser API compatible, so the change should be easy. Doing so would make mrdoobifying the code irrelevant, as recast doesn't format nodes that haven't been changed. It would solve #2, and #4 would not reemerge.

[2015-04-13 17:28] kumavis commented on #22
Yes! that is awesome

[2015-04-13 18:05] kumavis commented on #23
I've been wanting to build something like recast for a long time - what an awesome project

[2015-04-13 18:06] kumavis commented on #23
That said, we would still need an approximate mrdoobifier for the generated code

[2015-04-13 18:13] kumavis commented on #23
hmm recast does not currently take external code generators

[2015-04-15 04:02] HMUDesign commented on #23
I don't see any reason not to. There are quite a few things in the code that have to be modified (THREE.Geometry -> Geometry) but as long as it can handle that and still have the proper output.

As for MrDoobifying the output, since we will only need to do this once (when we prepare a branch to merge back into the original), I think it would be safe to branch recast and change their pretty-print f

[2015-04-17 01:31] coballast commented on #16
Default exports and imports is now working again. The code is not pretty, but it was the only way I got it working earlier. I tried to implement a cleaner and more concise approach using the acorn parser to generate the ast node structures for me, but I ended up having compatability issues with escodegen. I tried to kill two birds with one stone by using recast to both parse code, generate ast nod

[2015-04-17 01:31] #16 closed

[2015-04-17 01:39] coballast commented on #21
@HMUDesign You might be interested in this repo:
https://github.com/5to6/5to6

They are working on developing an automated system to move es5 code to es6 through automatic ast transforms. It is in the early stages, but I think it is promising. I plan to start contributing transforms to that project after I am finished getting this working so that we can just push a button and instantly have pretty

[2015-04-17 18:18] coballast commented on #15
Fixed. Took  longer than I thought. Hooray!

[2015-04-17 18:18] #15 closed

[2015-04-17 18:34] coballast commented on #10
The gulp now produces a three.min.js successfully (at least on my machine). This change occurred after I fixed #15 My theory is the excessive and unnecessary imports were giving browserify trouble. Someone double check to make sure this dragon is finally slain, but closing this for now.

[2015-04-17 18:34] #10 closed

[2015-04-17 18:39] coballast commented on #21
@HMUDesign This weekend I will update the browserify branch with the latest build after working through the rest of the todo list. You might want to try your jspm experiments again after that.

[2015-04-18 03:00] coballast commented on #18
I fixed this by adding an extra pass.

[2015-04-18 03:00] #18 closed

[2015-04-18 03:18] coballast commented on #17
@kumavis @HMUDesign Okay. Pretty much all of the serious show stopper issues (that we know about) are solved. Gulp now spits out a three.min.js. If you find the time, would you kindly test the build and let me know what you think? I really appreciate your help on this. It took far more time and effort than I anticipated.

Note that I have the latest browserified dev at the branch I previously ment

[2015-04-18 03:21] coballast commented on #12
I plan to just manually change this, as adding code to fix it automatically is far more effort than it's worth. Closing.

[2015-04-18 03:21] #12 closed

[2015-04-18 03:52] coballast commented on #17
@kumavis @HMUDesign I think for runtime problems we should file issues on my browserify branch and make them reference here.

[2015-04-18 05:12] HMUDesign commented on #17
you mean https://github.com/coballast/three.js/tree/browserify ? Issues page is not availble.

[2015-04-18 05:19] HMUDesign commented on #21
Summarizing my notes here, but can move to your branch if you like. Fixing these notes causes it to run without error, though it still does not produce any output except the clear color. Unfortunately my knowledge of webgl is not advanced enough to know where to look for the problem.

Circular dependency between Box3 and Sphere. Again, not directly an issue, but Sphere uses a Box3 immediately (doe

[2015-04-18 15:53] coballast commented on #21
Part of this is that webgl shader chunks are not being compiled into the library like they are with the python build, so most of the webgl demos will be broken for some time until we can add an equivalent set of code to the browserify build.

[2015-04-18 16:10] coballast commented on #17
Nevermind then

[2015-04-18 16:21] coballast commented on #21
Ah, I know what's causing the problem with the out of place requires. Will fix at some point.

[2015-04-18 16:32] HMUDesign commented on #21
Ah. Should not those chunks be able too be required just like everything
else? I can have look at that if you like.
On Apr 18, 2015 8:53 AM, "Colin Ballast" <notifications@github.com> wrote:

[2015-04-18 18:06] coballast commented on #21
@HMUDesign If you want to give it a go, I would greatly appreciate it. I seem to recall that it was discussed in mrdoob/three.js#4776 . Someone mentioned compiling shader fragments there. The python build script is here: https://github.com/mrdoob/three.js/blob/master/utils/build/build.py

If you can figure out what's going on there with shader stuff and somehow implement it in the browserify build

[2015-04-18 18:06] coballast commented on #21
@HMUDesign I will make an issue and an entry in the todo list. If you want to take it up, I will assign it to you.

[2015-04-18 18:07] HMUDesign commented on #21
alright =]

On Sat, Apr 18, 2015 at 11:06 AM, Colin Ballast <notifications@github.com>
wrote:

[2015-04-18 18:08] coballast opened #27 "Compiling shader chunks into final build."
The three.js build system compiles shader chunks into the distribution at build time.
The details are in https://github.com/mrdoob/three.js/blob/master/utils/build/build.py

We need a way to do this with browserify.

[2015-04-18 18:19] benaadams commented on #27
I use the js build with node rather than the python version: https://github.com/mrdoob/three.js/blob/master/utils/build/build.js

[2015-04-18 18:20] coballast commented on #27
@benaadams You are a god among men. Thank you for pointing this out.

[2015-04-18 18:50] kumavis commented on #10
yeah i think there must be some exotic case of circular deps it doesnt handle well
nice to see this issue closed.

[2015-04-18 18:51] HMUDesign commented on #27
A few of the commenters on https://github.com/mrdoob/three.js/issues/4776 suggested the use of glslify. I only looked at it briefly, but my understanding of it is that the command line tool can be used to compile multiple snippets into a complete shader. To do this with the threejs shaders i think would add lots of bloat, as there is much glsl code shared between them. (otherwise MrDoob would have

[2015-04-18 18:52] kumavis commented on #12
We should keep track of necessary manual steps then. Add as instructions to readme?

[2015-04-18 18:53] kumavis commented on #17
@coballast you can enable it in settings

[2015-04-18 18:58] kumavis commented on #27
stackgl and glslify are awesome projects. That said, I advocate for a smaller scope of this three.js conversion project, so lets not change the behaviour here. That can come later! To help make our case in merging this new architecture, we should create a list of neato future todo's, like glsl modules.

[2015-04-18 19:05] benaadams commented on #27
My main interesting in glslify was for glslify-optimize; but alas it uses a native rather than js library to do the optimisation so wouldn't work in a browser :( ( https://github.com/aras-p/glsl-optimizer )

[2015-04-18 19:56] kumavis commented on #27
maybe a good target for an [emscripten](https://github.com/kripken/emscripten) build

[2015-04-18 21:49] coballast commented on #17
Issues are now enabled.

[2015-04-18 22:56] coballast commented on #27
I'm with @kumavis on this one. Our (or my) primary focus is to get a working THREE.js bundle built using browserify while modifying the way the system is structured as little as possible. The intent is to try and get this merged into the mainline as the new build system. Integrating glslify is on my radar (as well as moving things over to es6), but getting a browserify build working is my first pr

[2015-04-18 23:09] coballast commented on #12
Sure. I will add them.

[2015-04-19 02:59] HMUDesign commented on #27
I have it functioning now with both Systemjs and Browserify. In both cases, the shader chunks are required just like a javascript file. Then there is a small script which, when it sees a request for a .glsl file, returns the text. For Browserify, this is called a transform.

The necessary files can be found at https://gist.github.com/HMUDesign/9ca7ff210d4eb4e87e9c Additionally, the following will

[2015-04-19 13:14] coballast commented on #27
@HMUDesign That is so cool! Thank you so much!

[2015-04-19 13:32] coballast commented on #27
@HMUDesign Okay. I integrated your changes into the browserify branch. Everyone please take a look at the latest changes and critique them, but it looks good to me. Closing this.

[2015-04-19 13:32] #27 closed

[2015-04-19 14:43] coballast commented on #27
I will keep your systemjs source file around, but I'm not going to add it to the repo for the time being. Once/if this build system gets merged with the mainline, we can make that a pr as an additional feature.

[2015-04-19 14:51] coballast commented on #27
The bonus features list is here: coballast/three.js#2

[2015-05-14 21:56] kumavis commented on #17
@kamicane's doing some related work https://github.com/kamicane/three-commonjsify

[2015-05-14 22:00] kumavis commented on #17
here's his version running in requirebin http://requirebin.com/?gist=b7fe528d8059a7403960

[2015-05-14 23:42] coballast commented on #17
Ha! That's cool! It looks like I've been scooped,

[2015-05-15 00:00] coballast commented on #17
To be honest I am not going to work on this anymore, as this has gradually become much less fun as time goes on. I will keep it up for posterity if you or someone else wants to work on it. I would be willing to transfer ownership of the repo if someone feels like taking over.

[2015-05-15 00:03] coballast commented on #17
It looks like @kamicane has a handle on things though. I will stick with stack.gl, since that is what makes me happy.

[2015-05-15 03:31] kumavis commented on #17
@coballast glad you're enjoying stack.gl
thats where the long term happiness will be

I think my greatest insight came was:

Expanding on that, taking the functional programming approach of separating things into simple data objects and functions that modify or provide views into that data seems to keep the vertical (abstraction) pathways open

[2015-05-15 03:43] kumavis commented on #17
@kamicane as you may have read above, we're shelving this project for now. That said, through this effort we've merged a few PRs into upstream dev to improve the circular dep situation and code base health.

Let us know how else we can improve upstream three.js for better commonjs builds